*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

#question {
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

.main {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    justify-content: center;
}

.container {
    background-color: rgb(117, 79, 117);
    width: 50%;
    max-width: 80%;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    font-size: 1.2rem;
    text-align: left;
    background-color: white;
    border-radius: 1rem;
    padding: 5px 10px;
    outline: none;
}

.btn:hover {
    border-color: grey;
}


.submit {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

#selection {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

#logout-container {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.btn.selected {
    font-weight: bold;
    color: rgb(117, 79, 117);
    border: 4px solid black;
}

h1 {
    text-align: center;
}

.intro {
    text-align: center;
    font-size: 1.4rem;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.popup.visible {
    display: flex;
}

.popup-content {
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Add a subtle box shadow */
    max-width: 300px;
    /* Set a maximum width */
}

.popup-content p {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.popup-content button {
    background-color: rgb(117, 79, 117);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
}

@media screen and (max-width: 700px) {
    .sidenav {
        width: 100%;
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }

    .sidenav .closebtn {
        right: 15px;
        font-size: 24px;
    }
}

@media screen and (max-width: 1000px) {
    .btn-grid {
        grid-template-columns: 1fr;
    }

    .container {
        width: 80%;
    }

    .btn{
        font-size: 0.9rem;
        text-align: center;
    }
}